{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
        <p class="display-3 pl-3 ml-3">Report</p>
        <hr>
        <table border="10" class="table">
            <tbody>
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td>{{context.form}}</td>
                    <td><button type="submit" class="btn float-right btn-outline-info col-lg-2">Search</button></td>

                </form>
                <br>
            </tr>
            </tbody>

        </table>

        <table border="10" class="dataframe">

            <thead>
                <tr style="text-align: center;">
                    {% if not context.check_list_order %}
                        {% if context.orders_df %}
                            <h3>Chart</h3>
                            <img src="data:image/png;base64, {{context.chart|safe}}">

                            <h3>{{context.word}} By Year-Month</h3>
                            <th></th>
                                <td>{{context.result_df|safe}}</td>
                        {% else %}
                            <h3>no data</h3>
                        {% endif %}
                    {% endif %}
                </tr>
            </thead>

        </table>

        <table border="10" class="dataframe">

            <thead>
                <tr style="text-align: center;">
                    {% if context.check_list_order %}
                        {% if context.orders_df %}
                            <br>
                            <h3>List Total Orders</h3>
                            <th></th>
                            <td>{{context.orders_df|safe}}</td>
                        {% else %}
                            <h3>no data</h3>
                        {% endif %}
                    {% endif %}
                </tr>
            </thead>

        </table>

        </hr>

</div>

{% endblock %}